.menu{
	width: 25%;
	height: 98.5%;
	position: absolute;
	margin: 1px;
	border-color: black;
	float: left;
	left: 0;
	z-index: 1;
}
.search{
	position: relative;
	width: 80%;
	height: 25PX;

}

.botones{
	height: 56px;
    width: auto;
    font-size: 30px;
    position: relative;
    left: 10%;
    border-radius: 14px;
    border: 0;
    background: #0099f8;
    margin: 10px;

}

.chats{
    width: 75%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: blue;
    position: absolute;
}

.chat2{
	width: 25%;
    border-color: black;
    height: 76%;
    background-color: red;
    position: relative;
    left: 15%;
    top: 13%;
    border-radius: 34px;
}

.chat3{
	width: 53%;
    border-color: black;
    height: 76%;
    background-color: red;
    position: relative;
    left: 44%;
    top: -63%;
    border-radius: 34px;
}
.chat4{
	width: 90%;
    border-color: black;
    height: 84%;
    background-color: white;
    position: relative;
    left: 5%;
    top: 11%;
    border-radius: 34px;

}