<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename= 'Registrarse.css')}}">
	<title>Loginpage</title>
</head>
<body background="{{ url_for('static', filename='la buena111.png') }}">




	<div class="registrarse">


		<center><h2>Suscripción</h2></center>

		<form method="post">
			<input type="text" class="texto" name="usuarios" placeholder="Correo electronico">
			<br>
			<br>
			<br>
			<input type="password" class="texto" name="password" placeholder="Contraseña">
			<br>
			<br>
			<input type="password" class="texto" name="password2" placeholder="Confirmar Contraseña">
			<br>
			<br>
			<input type="text" class="texto" name="usuarios" placeholder="Numero">
			<br>
			<br>
			<input type="submit" name="registro"  value="Registrarse">
		</form>
	</div>
<div class="logo">


</body>
</html>
